@model IEnumerable<InternManagementMVC.Models.TStudent>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.Display("Count")
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AUsername)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AFullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AEmail)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AStudentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AUsername)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AFullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AEmail)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
